<div class='row' >
  <%= render 'posts/post', post: @post %>
</div> 



<% #comment form: form_for [@post, @comment] ...  need the parent object for nested resources %>

<% if logged_in? %>

  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/error_messages', obj: @comment %>
    <%= f.label :body, "Add a comment" %>
    <%= f.text_area :body %>
    <br/>
    <%= f.submit "Add Comment", class: 'btn btn-success' %>
  <% end %>

<% end %>

<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
  <div class='row'>
    <div class='well span8'>
      <p><%= comment.body %></p>
      <hr/>
      <p>
        <span class='quiet'>Posted by</span> <%= comment.creator.username %>
        <small>at <%= fix_date(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>